<template>
  <b-navbar class="nav nav-fill bg-info">
    <div class="bg-active" style="margin-left: 0; margin-right: auto">
      <router-link to="/users" class="btn btn-primary">HOME</router-link>
    </div>
    <div class="bg-active" style="margin-left: auto; margin-right: 0">
      <span v-if="isLogged" class="font-weight-bold">
        Logged in as <span class="text-dark font-weight-bolder">{{$root.login}} ({{$root.role}})</span>
            <button class="btn btn-primary" @click="logout">Logout</button>
      </span>
      <span v-else class="font-weight-bold">
        You're not logged in
      </span>
    </div>
  </b-navbar>
</template>

<script>
  import axios from 'axios';
  import {backendUrls} from "../constants";
  // TODO - add validation

  export default {
    name: "TopBar",
    computed: {
      isLogged() {
        return Boolean(this.$root.login) && Boolean(this.$root.role);
      }
    },
    methods: {
      logout() {
        axios.post(backendUrls.logout, {}, {withCredentials: true})
          .then(() => {
            this.$root.login = null;
            this.$root.role = null;

            localStorage.removeItem('login');
            localStorage.removeItem('role');

            this.$router.push('/login');
          })
          .catch(err => console.log({err}));
      }
    }
  }
</script>

<style scoped>

</style>