<template>
  <div>
    <table class="table" style="max-width: 70%; margin: 0 auto;">
      <thead>
      <tr>
        <th>Login</th>
        <th>Full name</th>
        <th>Group</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="user of users" v-bind:key="user.login">
        <th>
          <router-link v-bind:to="{ name: 'edit-user',  params: {login: user.login, state: 'edit'}}">
            {{user.login}}
          </router-link>
        </th>
        <td>
          {{user.full_name}}
        </td>
        <td>
          {{user.group_name}}
        </td>
        <td v-if="isAdmin">
          <router-link v-bind:to="{ name: 'edit-user',  params: {login: user.login, state: 'edit'}}"
                       class="btn btn-warning">Edit
          </router-link>
        </td>
        <td v-if="isAdmin">
          <button class="btn btn-danger" @click="deleteUser(user.login)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div>
      <router-link v-bind:to="{name: 'edit-user',  params: { state: 'add'}}"
                   class="btn btn-success align-content-center">Add new user
      </router-link>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import {backendUrls} from "../constants";

  export default {
    name: "AdminPage",
    data() {
      return {
        users: [],
      }
    },
    props: {
      isAdmin: Boolean,
    },
    methods: {
      updateUsers() {
        axios.get(backendUrls.user, {withCredentials: true}).then(response => {
          this.users = response.data;
          for (const user of this.users) {
            localStorage.setItem(`user#${user.login}`, JSON.stringify(user));
          }
        });
      },
      deleteUser(login) {
        if (confirm(`Delete user ${login}?`)) {
          axios.delete(backendUrls.user + `?login=${login}`, {withCredentials: true})
            .then(() => {
              this.updateUsers();
            });
        }
      }
    },
    mounted() {
      this.updateUsers();
    }
  }
</script>

<style scoped>

</style>