<template>
  <div v-if="user">
    <form ref="editForm">
      <div>
        <label>
          Login
          <input minlength="5" v-model="user.login" v-bind:disabled="state !== 'add'" required>
        </label>
      </div>
      <div>
        <label>
          Full name
          <input v-model="user.full_name" v-bind:disabled="!edit" required
                 title="Full name should be at least 1 character">
        </label>
      </div>
      <div>
        <label>
          Password
          <input minlength="3" v-model="user.password" v-bind:disabled="!edit" required>
        </label>
      </div>
      <div>
        <label>
          Group
          <select v-model="user.group_name" v-bind:disabled="!edit" required>
            <option>
              Administrators
            </option>
            <option>
              TeamA
            </option>
            <option>
              TeamB
            </option>
            <option>
              TeamC
            </option>
          </select>
        </label>
      </div>
      <input type="submit" v-if="state === 'edit'" class="btn btn-outline-success" @click="save" value="Save changes">
      <input type="submit" v-if="state === 'add'" class="btn btn-outline-success" @click="add" value="Save new user">
    </form>
  </div>
</template>

<script>
  import axios from 'axios';
  import {backendUrls} from "../constants";

  export default {
    name: "EditUser",
    data() {
      return {
        login: this.$route.params.login,
        user: null,
      }
    },
    computed: {
      state() {
        return String(this.$route.params.state);
      },
      edit() {
        return ['edit', 'add'].includes(this.state);
      }
    },
    mounted() {
      this.user = JSON.parse(localStorage.getItem(`user#${this.$route.params.login}`)) || {
        login: "",
        password: "",
        group_name: "TeamA",
        full_name: "",
      }
    },
    methods: {
      checkValidity() {
        return this.$refs.editForm.checkValidity();
      },
      save() {
        if (this.checkValidity()) {
          axios.put(backendUrls.user + `?login=${this.$route.params.login}`, this.user, {withCredentials: true})
            .then(() => {
              this.$router.push('/users');
            })
            .catch(err => {
              console.log({err});
              alert(err.response.data.detail[0].msg);
            });
        }
      },
      add() {
        if (this.checkValidity()) {
          axios.post(backendUrls.user, this.user, {withCredentials: true})
            .then(() => {
              this.$router.push('/users');
            })
            .catch(err => {
              console.log({err});
              alert(err.response.data.detail[0].msg);
            });
        }
      },
    }
  }
</script>

<style scoped>

</style>