<template>
  <div class="container">
    <div class="row" id="first-row">
      <div class="col-sm"></div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
    </div>
    {{login}}
    {{password}}
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
        <form v-on:submit.prevent="submit" id="login-form" method="post">
          <h2 class="text-center">Log in</h2>
          <div class="form-group">
            <input
                v-model="login"
                type="text"
                name="username"
                class="form-control"
                placeholder="Login"
                required="required"
            />
          </div>
          <div class="form-group">
            <input
                v-model="password"
                type="password"
                name="password"
                class="form-control"
                placeholder="Password"
                required="required"
            />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
          </div>
        </form>
        <span id="login-error" v-bind:style="loginErrorStyle">Login failed.</span>
      </div>
      <div class="col-sm"></div>
    </div>
    <span class="err-msg">{{ msg }}</span>
    <span class="err-msg">{{ outerMsg }}</span>
  </div>
</template>

<script>
  import axios from 'axios';
  import {backendUrls} from '../constants';

  export default {
    name: "Login",
    props: {
      outerMsg: String,
    },
    data() {
      return {
        login: "",
        password: "",
        loginSuccessful: true,
        msg: "",
      }
    },
    computed: {
      loginErrorStyle() {
        return {
          visibility: this.loginSuccessful ? "hidden" : "visible"
        };
      }
    },
    methods: {
      submit() {
        this.loginSuccessful = true;

        const requestBody = {login: this.login, password: this.password};
        axios
          .post(backendUrls.login, requestBody, {withCredentials: true})
          .then(response => {
            console.log(`LOGIN STATUS: ${response.status}, ${response.statusText}`);
            const login = response.data.login;
            const role = response.data.role;

            this.$root.login = login;
            this.$root.role = role;
            localStorage.setItem('login', login);
            localStorage.setItem('role', role);
            this.msg = "";

            this.$router.push('/users');
          })
          .catch(err => {
            console.log(`LOGIN ERROR: ${err}`);
            console.log({err});
            this.msg = err.response.data;
            this.loginSuccessful = false;
            localStorage.setItem('login', null);
            localStorage.setItem('role', null);
          });
      }
    }
  }
</script>

<style scoped>
  #first-row {
    height: 100px;
  }

  #login-error {
    font-size: 16px;
    color: red;
  }

  .err-msg {
    color: red;
    font-weight: bold;
    font-size: 18px;
  }
</style>