<template>
  <table class="table table-striped table-light">
    <thead>
    <tr>
      <td>Login</td>
      <td>Full name</td>
      <td>Group</td>
    </tr>
    </thead>
    <tr v-for="user of users" v-bind:key="user.login">
      <td>
        {{user.login}}
      </td>
      <td>
        {{user.full_name}}
      </td>
      <td>
        {{user.group}}
      </td>
    </tr>
  </table>
</template>

<script>
  import axios from 'axios';
  import {backendUrls} from "../constants";

  export default {
    name: "UserPage",
    data() {
      return {
        users: [],
      }
    },
    mounted() {
      axios.get(backendUrls.user, {withCredentials: true}).then(response => {
        this.users = response.data;
      })
    }
  }
</script>

<style scoped>

</style>